body {
  margin: 20px;
}
.slider {
  background: linear-gradient(to right, #eee, #aaa);
  border-radius: 5px;
  width: 310px;
  height: 15px;
  margin: 5px;
}
.slider__thumb {
  background: #00f;
  cursor: pointer;
  width: 10px;
  height: 25px;
  border-radius: 3px;
  position: relative;
  left: 0;
  top: -5px;
  /*transition: left .2s;*/
}
.slider__footer {
  margin-top: 20px;
}
