html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:active,
a:hover {
  outline-width: 0;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
svg:not(:root) {
  overflow: hidden;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
figure {
  margin: 1em 40px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
* {
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #000;
  font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-size: 1rem;
  line-height: 1.25;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: #004b8e;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}
a:hover,
a:focus {
  color: #07284c;
}
h1 a,
h2 a,
h3 a {
  text-decoration: none;
}
.table-grid {
  border-collapse: separate;
  border-spacing: 2px;
  width: 100%;
}
.table-grid th {
  background-color: #07284c;
  border-bottom: 7px solid #fff;
  color: #fff;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  padding: 7px 5px;
  text-transform: uppercase;
}
.table-grid td {
  font-size: 13px;
  line-height: 15px;
  padding: 10px 5px;
  text-align: center;
}
.table-grid tr:nth-child(odd) td {
  background-color: #f3f3f3;
}
.table-grid a:visited {
  color: #9b9b9b;
}
.table-scroll {
  overflow-x: auto;
}
@media (max-width: 767px) {
  .responsive-table thead {
    display: none;
  }
  .responsive-table tr {
    display: block;
  }
  .responsive-table td {
    display: block;
    font-size: 16px;
    line-height: 1.25;
    padding: 5px 15px;
    text-align: left;
  }
  .responsive-table td:first-child {
    padding-top: 15px;
  }
  .responsive-table td:last-child {
    padding-bottom: 15px;
  }
  .responsive-table td:before {
    content: attr(data-th) ": ";
    font-weight: 700;
    margin-right: 10px;
  }
}
.page-section {
  max-width: 1090px;
  margin: 0 auto 35px;
  padding: 0 20px;
}
.section-header {
  background-color: #07284c;
  color: #fff;
  margin-bottom: 15px;
  padding: 5px 20px;
}
.flex-col {
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .flex-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .flex-col {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin: 0 1%;
    width: 48%;
  }
  .flex-col:first-child {
    margin-left: 0;
  }
  .flex-col:last-child {
    margin-right: 0;
  }
  .flex-col-1-3 {
    width: 31.33%;
  }
  .flex-col-2-3 {
    width: 64.66%;
  }
  .flex-col-1-4 {
    width: 23%;
  }
  .flex-col-3-4 {
    width: 73%;
  }
  .flex-col-equal {
    width: 50%;
  }
  .flex-col-main {
    width: 66.66%;
  }
  .flex-col-aside {
    width: 33.33%;
  }
}
@media (min-width: 1024px) {
  .flex-col-main {
    width: 75%;
  }
  .flex-col-aside {
    width: 25%;
  }
}
.flex-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
h1 {
  font-size: 26px;
  font-weight: normal;
  line-height: 32px;
  margin: 0 0 10px;
}
.page-heading {
  margin-top: 40px;
  text-transform: uppercase;
}
h2 {
  font-weight: normal;
  margin: 0;
}
.page-subheading {
  background-color: #f9f9f9;
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 -20px 15px;
  padding: 5px 20px;
}
h3 {
  font-size: 22px;
  font-weight: normal;
  margin: 0;
}
.block-heading {
  font-size: 20px;
  line-height: 1;
  margin-bottom: 10px;
  text-transform: uppercase;
}
h4 {
  font-size: 18px;
  font-weight: normal;
  line-height: 20px;
  margin: 20px 0 10px;
}
p {
  margin: 0 0 10px;
}
.content-ul {
  list-style: none;
  position: relative;
  padding-left: 20px;
  margin: 10px 0;
}
.content-ul > li:before {
  content: '\2022';
  position: absolute;
  left: 0;
}
.nude-list {
  list-style: none;
  margin: 0 0 10px;
  padding: 0;
}
blockquote {
  background-color: #f9f9f9;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-style: italic;
  line-height: 1.1;
  margin: 0 0 15px;
  padding: 15px 30px;
}
cite {
  display: block;
  font-size: 18px;
  font-style: normal;
  margin-top: 15px;
  text-align: right;
}
label {
  color: #07284c;
  display: block;
  font-size: 14px;
  line-height: 1.79;
}
.form-field--inline > label {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}
.form-control {
  border: 1px solid #d8d8d8;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  padding: 5px 10px;
  width: 100%;
  height: 32px;
}
.form-control:focus {
  border-color: rgba(7, 40, 76, 0.5);
  outline: 1px solid rgba(7, 40, 76, 0.5);
}
.form-control::-moz-placeholder {
  color: #000;
  opacity: 1;
}
.form-control:-ms-input-placeholder {
  color: #000;
}
.form-control::-webkit-input-placeholder {
  color: #000;
}
.form-field {
  margin-bottom: 10px;
  position: relative;
}
.form-field--inline {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  white-space: nowrap;
}
.form-field--inline > * {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-left: 10px;
}
.form-group-flex-all {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
}
.form-group-flex-all .form-field {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0%;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
  margin-bottom: 0;
}
.form-group-flex-all .form-field + .form-field {
  margin-left: 5px;
}
@media (min-width: 768px) {
  .form-field-inline-flex {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 25px;
    margin-bottom: 10px;
  }
  .form-field-inline-flex:last-child {
    margin-right: 0;
  }
  .form-field-inline-flex label {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
    padding-right: 10px;
  }
  .form-group-flex {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    margin-bottom: 10px;
  }
  .form-group-flex > .form-group {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }
  .form-group-flex .form-field {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 0%;
        -ms-flex: 1 1 0%;
            flex: 1 1 0%;
    margin-bottom: 0;
  }
  .form-group-flex .form-field--button {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
  }
  .form-group-flex .form-field + .form-field {
    margin-left: 5px;
  }
}
.form-group-inline .form-field {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
}
.form-group-inline .form-field:last-child {
  margin-right: 0;
}
.form-group-inline .form-field .form-control,
.form-group-inline .form-field .ui-selectmenu-button {
  width: 240px !important;
  max-width: 100%;
}
button:focus {
  outline: none;
}
.btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 1.25;
  padding: 0;
  text-align: center;
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
}
.btn-primary {
  background-color: #07284c;
  border-radius: 5px;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: #004b8e;
  color: #fff;
}
.btn-attention {
  background-color: #fd9b00;
  border-radius: 5px;
  color: #07284c;
  padding: 10px 20px;
  text-transform: uppercase;
}
.btn-attention:hover,
.btn-attention:focus {
  background-color: #d78400;
  color: #fff;
}
.btn-large {
  font-size: 21px;
  min-width: 150px;
  max-width: 100%;
  text-align: center;
}
.btn-small {
  font-size: 12px;
  line-height: 1.67;
  padding: 6px 12px;
}
.btn-link {
  display: inline;
  padding: 0;
}
.btn-link:hover,
.btn-link:focus {
  border-bottom: 1px solid;
}

/*# sourceMappingURL=main.css.map */
